body {
	background-color:#FFFFFF;
    font-family: sans-serif;
	min-width:100%;
	max-width:100%;	
	margin-left: auto; 
	margin-right: auto;     
}

svg {
	display: block;
}

text {
    font-family: Helvetica;
    font-size: 16px;
}

#container {
	margin-left: auto; 
	margin-right: auto;
	width:1600px; 
	position: relative;
}
#divCtrlTop {
	position: absolute;
	top:10px;
	left:10px;
    font-size:small;
	height:20px;
	width:900px;
	float:left;
}

#divCtrlBottom {
	position: absolute;
	top:35px;
	left:10px;
    font-size:small;
	height:20px;
	width:900px;
	float:left;
}

#divPhylo {
	position: absolute;
	top:60px;
	left:10px;
    padding: 0px;
	background-color:#FFFFFF;
	height:600px;
	width:400px;
	float:left;
}
#divDraw {
	position: absolute;
	top:50px;
	left:200px;
	background-color:#FFFFFF;
	height:1200px;
	width:800px;
	float:left;
}
#divText {
	position: absolute;
	top:50px;
	left:1200px;
	background-color:#FFFFFF;
	height:1200px;
	width:200px;
	float:left;
}
#divLegend {
	position: absolute;
	top:50px;
	left:1200px;
	background-color:#FFFFFF;
	height:1200px;
	width:200px;
	float:left;
}

#toolbar {
	padding: 15px 4px;
}

#textInputHttp {
    width:250px;
}

#textareaInput {
    height:600px;
    width:400px;
    resize:none;
}

#textareaInfo {
    margin: 5px 5px 5px 5px;
    height: 80px;
    width: 830px;
    resize:none;
}

#checkboxLabel {
    color:black;
    font-family: Helvetica;
    font-size: 12px;
}
#manualLink {
    color:black;
    font-family: Helvetica;
    font-size: 12px;
    float:right;
}

#buttonApply { float:left; }
#buttonReset { float:left; }
#buttonHelp { float:left; }
