body {
	background-color:#FFFFFF;
    font-family: sans-serif;
	min-width:100%;
	max-width:100%;	
	margin-left: auto; 
	margin-right: auto;     
}

svg {
	display: block;
}

text {
    font-family: Helvetica; Arial; sans-serif
    font-size: 48;
}

#container {
	margin-left: auto; 
	margin-right: auto;
	width:1600px; 
	position: relative;
}
#divCtrlTop {
	position: absolute;
	top:10px;
	left:10px;
    font-size:small;
	height:20px;
	width:900px;
	float:left;
}

#divCtrlBottom {
	position: absolute;
	top:35px;
	left:10px;
    font-size:small;
	height:20px;
	width:900px;
	float:left;
}

#divPhylo {
	position: absolute;
	top:60px;
	left:10px;
    padding: 10px;
	background-color:#FFFFFF;
	height:600px;
	width:400px;
	float:left;
}
#divDraw {
	position: absolute;
	top:10px;
	left:500px;
	background-color:#FFFFFF;
	height:10000px;
	width:15000px;
	float:left;
}
#divDraw2 {
	position: absolute;
	top:100px;
	left:200px;
	background-color:#FFFFFF;
	height:1200px;
	width:800px;
	float:left;
}
#divText {
	position: absolute;
	top:50px;
	left:15400px;
	background-color:#FFFFFF;
	height:10100px;
	width:900px;
	float:left;
}
#divText2 {
	position: absolute;
	top:100px;
	left:1000px;
	background-color:#FFFFFF;
	height:1200px;
	width:200px;
	float:left;
}

#toolbar {
	padding: 15px 4px;
}

#textInputHttp {
    width:250px;
}

#textareaInput {
    height:480px;
    width:330px;
    resize:none;
}

#textareaInfo {
    margin: 5px 5px 5px 5px;
    height: 80px;
    width: 830px;
    resize:none;
}

#checkboxLabel {
    color:white;
    font-family: Helvetica; Arial; sans-serif;
    font-size: 12;
}
#manualLink {
    color:white;
    font-family: Helvetica; Arial; sans-serif;
    font-size: 12;
    float:right;
}

#buttonApply { float:left; }
#buttonReset { float:left; }
#buttonHelp { float:left; }
